<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>FAdae@citytech.cuny.edu</string>
	<string>BAptekar@citytech.cuny.edu</string>
	<string>MBarfoot@citytech.cuny.edu</string>
	<string>MBlehl@citytech.cuny.edu</string>
	<string>SCaputo@citytech.cuny.edu</string>
	<string>LCarr@citytech.cuny.edu</string>
	<string>MGuiliani@citytech.cuny.edu</string>
	<string>TGoetz@citytech.cuny.edu</string>
	<string>DHayes@citytech.cuny.edu</string>
	<string>RHolden@citytech.cuny.edu</string>
	<string>EKrashinsky@citytech.cuny.edu</string>
	<string>JMason@citytech.cuny.edu</string>
	<string>JMcvicker@citytech.cuny.edu</string>
	<string>RMichals@citytech.cuny.edu</string>
	<string>WMinon@citytech.cuny.edu</string>
	<string>AMyson@citytech.cuny.edu</string>
	<string>LNieckarz@citytech.cuny.edu</string>
	<string>DNye@citytech.cuny.edu</string>
	<string>LPetrillo@citytech.cuny.edu</string>
	<string>JQuinn@citytech.cuny.edu</string>
	<string>HSaada@citytech.cuny.edu</string>
	<string>ASherman@citytech.cuny.edu</string>
	<string>JSpevack@citytech.cuny.edu</string>
	<string>JVasquez@citytech.cuny.edu</string>
</array>
</plist>
