<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Adae Frank</string>
	<string>Aptekar Bernard</string>
	<string>Barfoot Michelle</string>
	<string>Blehl Maryann</string>
	<string>Caputo Steve</string>
	<string>Carr Lloyd</string>
	<string>Guiliani Maria</string>
	<string>Goetz  Tanya</string>
	<string>Hayes Dorothy</string>
	<string>Holden Robert</string>
	<string>Krashinsky Emanuel</string>
	<string>Mason Joel</string>
	<string>McVicker John</string>
	<string>Michals Robin</string>
	<string>Miñon Wilson T.</string>
	<string>Mysan Aida</string>
	<string>Nieckarz Lawrence</string>
	<string>Nye Dawn</string>
	<string>Petrillo Leonardo</string>
	<string>Quinn James</string>
	<string>Saada Hitcham</string>
	<string>Sherman Albert</string>
	<string>Spevack Jenna</string>
	<string>Vasquez James</string>
</array>
</plist>
