<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>FCampusano@citytech.cuny.edu</string>
	<string>WCerrato@citytech.cuny.edu</string>
	<string>MGueretto@citytech.cuny.edu</string>
	<string>GMcgriff@citytech.cuny.edu</string>
	<string>FMinton@citytech.cuny.edu</string>
	<string>MSone@citytech.cuny.edu</string>
</array>
</plist>
