<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>JAccumanno-Brankey@citytech.cuny.edu</string>
	<string>DArchibald@citytech.cuny.edu</string>
	<string>DBellehsen@citytech.cuny.edu</string>
	<string>CCabo@citytech.cuny.edu</string>
	<string>SCaton@citytech.cuny.edu</string>
	<string>JEbbers@citytech.cuny.edu</string>
	<string>JGraham@citytech.cuny.edu</string>
	<string>RGuidone@citytech.cuny.edu</string>
	<string>JHernandez@citytech.cuny.edu</string>
	<string>AHolley@citytech.cuny.edu</string>
	<string>XLi@citytech.cuny.edu</string>
	<string>HLi@citytech.cuny.edu</string>
	<string>TMalyuta@citytech.cuny.edu</string>
	<string>EMilonas@citytech.cuny.edu</string>
	<string>BOudejehane@citytech.cuny.edu</string>
	<string>MPinto@citytech.cuny.edu</string>
	<string>DReyes@citytech.cuny.edu</string>
	<string>RRodney@citytech.cuny.edu</string>
	<string>SShahidullah@citytech.cuny.edu</string>
	<string>HSimmons@citytech.cuny.edu</string>
	<string>LViglina@citytech.cuny.edu</string>
</array>
</plist>
