<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>RArmstrong@citytech.cuny.edu</string>
	<string>SBlank@citytech.cuny.edu</string>
	<string>ACarranza@citytech.cuny.edu</string>
	<string>ACarrington@citytech.cuny.edu</string>
	<string>SDerman@citytech.cuny.edu</string>
	<string>MElkins@citytech.cuny.edu</string>
	<string>OHussein@citytech.cuny.edu</string>
	<string>EMorton@citytech.cuny.edu</string>
	<string>JRazukas@citytech.cuny.edu</string>
	<string>NWotherspoon@citytech.cuny.edu</string>
	<string>LZaratan@citytech.cuny.edu</string>
	<string>FZia@citytech.cuny.edu</string>
</array>
</plist>
