<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>hafrick@citytech.cuny.edu</string>
	<string>NBenalki@citytech.cuny.edu</string>
	<string>JBruno@citytech.cuny.edu</string>
	<string>RCermele@citytech.cuny.edu</string>
	<string>ZCheng@citytech.cuny.edu</string>
	<string>LChosid@citytech.cuny.edu</string>
	<string>PDeraney@citytech.cuny.edu</string>
	<string>DDesantis@citytech.cuny.edu</string>
	<string>JEllner@citytech.cuny.edu</string>
	<string>FGelbwasser@citytech.cuny.edu</string>
	<string>UGhosh-Dasticar@citytech.cuny.edu</string>
	<string>NGoubran@citytech.cuny.edu</string>
	<string>JBreenstein@citytech.cuny.edu</string>
	<string>EHalleck@citytech.cuny.edu</string>
	<string>SHan@citytech.cuny.edu</string>
	<string>MHarrow@citytech.cuny.edu</string>
	<string>no email</string>
	<string>NKatz@citytech.cuny.edu</string>
	<string>AKramer@citytech.cuny.edu</string>
	<string>JLiou-Mark@citytech.cuny.edu</string>
	<string>AMorgulis@citytech.cuny.edu</string>
	<string>JNatov@citytech.cuny.edu</string>
	<string>Krapport@citytech.cuny.edu</string>
	<string>ERojas@citytech.cuny.edu</string>
	<string>ARozenblyum@citytech.cuny.edu</string>
	<string>RSchwarz@citytech.cuny.edu</string>
	<string>SShaver@citytech.cuny.edu</string>
	<string>HShoutens@citytech.cuny.edu</string>
	<string>SSingh@citytech.cuny.edu</string>
	<string>no email</string>
	<string>ATaraporevala@citytech.cuny.edu</string>
	<string>TTradler@citytech.cuny.edu</string>
</array>
</plist>
