<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Barjis Isaac</string>
	<string>Blake Reginald</string>
	<string>Boudana Daria</string>
	<string>Boyko Vladimir</string>
	<string>Cohen Victor</string>
	<string>Gelfand Allan</string>
	<string>Grace Calvin</string>
	<string>Kezerashvili Roman</string>
	<string>Lufeng Leng</string>
	<string>Matloff Gregory</string>
	<string>McKnight Ralph</string>
	<string>Mcloughlin Susan</string>
	<string>Mongroo Ashraf</string>
	<string>Remsen Jr. J</string>
	<string>Tewani Suresh</string>
	<string>Wise James</string>
</array>
</plist>
