<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>IBarjis@citytech.cuny.edu</string>
	<string>RBlake@citytech.cuny.edu</string>
	<string>DBoudana@citytech.cuny.edu</string>
	<string>VByoko@citytech.cuny.edu</string>
	<string>VCohen@citytech.cuny.edu</string>
	<string>AGelfand@citytech.cuny.edu</string>
	<string>CGrace@citytech.cuny.edu</string>
	<string>RKezerashvili@citytech.cuny.edu</string>
	<string>LLufeng@citytech.cuny.edu</string>
	<string>GMatloff@citytech.cuny.edu</string>
	<string>RMcknight@citytech.cuny.edu</string>
	<string>SMcloughlin@citytech.cuny.edu</string>
	<string>AMangroo@citytech.cuny.edu</string>
	<string>JRemsen@citytech.cuny.edu</string>
	<string>STewani@citytech.cuny.edu</string>
	<string>JWise@citytech.cuny.edu</string>
</array>
</plist>
