<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>SAiden@citytech.cuny.edu</string>
	<string>WBrand@citytech.cuny.edu</string>
	<string>PCatapano@citytech.cuny.edu</string>
	<string>KCuordileone@citytech.cuny.edu</string>
	<string>FDerringh@citytech.cuny.edu</string>
	<string>SGerardi@citytech.cuny.edu</string>
	<string>RHannum@citytech.cuny.edu</string>
	<string>EKapalan@citytech.cuny.edu</string>
	<string>HMcdonald@citytech.cuny.edu</string>
	<string>FNalven@citytech.cuny.edu</string>
	<string>MPagano@citytech.cuny.edu</string>
	<string>CPanayotokis@citytech.cuny.edu</string>
	<string>PParides@citytech.cuny.edu</string>
	<string>MParnes@citytech.cuny.edu</string>
	<string>BRamlall@citytech.cuny.edu</string>
	<string>HSisco@citytech.cuny.edu</string>
	<string>JTison@citytech.cuny.edu</string>
</array>
</plist>
