<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1 718 260 5884</string>
	<string>1 718 260 5885</string>
	<string>1 718 260 5897</string>
	<string>1 718 260 5888</string>
	<string>1 718 260 5881</string>
	<string>1 718 260 6730</string>
	<string>1 718 260 5885</string>
	<string>1 718 260 5885</string>
	<string>1 718 260 5891</string>
	<string>1 718 260 5893</string>
	<string>1 718 260 5898</string>
	<string>1 718 260 5890</string>
</array>
</plist>
