<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Bennani Fouad</string>
	<string>Berri Sidi</string>
	<string>Holland Deborah</string>
	<string>Ryu Yeong</string>
	<string>Szysh Ronald</string>
	<string>Vaisman Nathan</string>
	<string>Zhang Andy</string>
</array>
</plist>
