<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1 718 260 5233</string>
	<string>1 718 260 5234</string>
	<string>1 718 260 5233</string>
	<string>1 718 260 5233</string>
	<string>1 718 260 5238</string>
	<string>1 718 260 5413</string>
	<string>1 718 260 5245</string>
</array>
</plist>
